$website-width: 1000px;
$main-color: #b69de6;
$secondary-color: #6200ee;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;

@font-face {
  font-family: nexaBold;
  src: url("../fonts/NexaBold.otf");
}

@font-face {
  font-family: nexaLight;
  src: url("../fonts/NexaLight.otf");
}
@font-face {
  font-family: nexaBook;
  src: url("../fonts/NexaBook.otf");
}
@font-face {
  font-family: nexaRegular;
  src: url("../fonts/NexaRegular.otf");
}
