@media (max-width: 500px) {
  .page-image {
    display: none;
  }
}

@media (min-width: 700px) {
  .text-input {
    input {
      width: 450px;
    }
  }
  #userCard {
    margin-top: 1%;
    max-width: 400px;
    .img-wrap {
      padding: 2rem;
      img {
        border-radius: 50%;
        border: 1px solid grey;
      }
    }
  }
}
