.container {
  max-width: $website-width;
  padding: 0 1.5rem;
  margin: auto;
}

.btn {
  display: inline-block;
  border-radius: 25px;
  cursor: pointer;
  padding: 0.5rem 2rem;
  border: none;
  transition: all 0.3s ease;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);

  &:hover,
  &:focus {
    // border: none;
    transform: scale(1.1);
    outline: none;
  }

  &-main {
    background: $main-color;
    color: #fff;
  }
  &-secondary {
    color: #fff;
    background: $secondary-color;
  }
  &-footer {
    margin-left: 1rem;
    // color: #333;
  }
}
