@import "config";
@import "utilities";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  // font-family: "Raleway", sans-serif;
  font-family: nexaRegular;
  line-height: 1.8;
}

.img-form {
  display: flex;
  justify-content: center;
  max-height: 700px;
}
.page-image {
  background: url("../img/login-canvas2.JPG") no-repeat center/ cover;
  height: 580px;
  width: 300px;
}
a {
  text-decoration: none;
  color: #fff;
}

.form-wrap {
  padding: 5px 20px;
  color: #333;
  max-width: 650px;

  h1 {
    margin-left: 1rem;
    font-size: 2.5rem;
    font-family: nexaBold;
    span {
      color: $medium-color;
    }
  }

  p {
    margin-left: 1rem;
    max-width: 200px;
    font-family: nexaLight;
  }
}

.input-icon {
  display: flex;
  flex-direction: row;
  padding: 1rem;

  i {
    font-size: 1.7rem;
    color: $main-color;
    padding-top: 5px;
  }

  .text-input {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;

    label {
      display: block;
      font-size: 0.75rem;
    }

    input {
      border: none;

      border-color: transparent;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      height: 1.5rem;
      &:focus {
        border-bottom: solid 1px $main-color;
        outline: none;
      }
    }
  }
}

#btn-login,
#btn-signup {
  float: right;
  margin-right: 15px;
}
// Select Option
.input-icon {
  select {
    background-color: #bb7cff;
    color: white;
    padding: 8px;
    width: 180px;
    border: none;
    font-size: 18px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    outline: none;
    border-radius: 5px;
  }
}

// Edit Modal
#editModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.3);

  .modal-form-wrap {
    margin: 30px auto;
    max-width: 600px;
    padding: 20px;
    background: #fff;
    animation-name: modalOpan;
    animation-duration: 1s;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.6);

    .modal-form-header {
      border-bottom: 1px solid grey;
      padding-bottom: 15px;

      .closeFormBtn {
        color: #ccc;
        float: right;
        font-size: 30px;

        &:hover,
        &:focus {
          color: #000;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }

    #form-modal {
      margin: 15px;
      label {
        display: block;
        font-size: 1rem;
      }
      input {
        width: 100%;
        margin-bottom: 10px;
        height: 1.5rem;
        &:focus {
          outline: none;
        }
      }
      .modalFooter {
        border-top: 1px solid grey;
        padding-top: 5px;
        margin-top: 15px;
        display: flex;
        justify-content: flex-end;
        button {
          padding: 0.35rem;
          margin: 10px;
          border-radius: 5px;
          border: none;
          &:hover,
          &:focus {
            background: #0336ff;
            color: #fff;
            outline: none;
          }
        }
      }
    }
  }
}

label[for="modalPosition"] {
  display: inline !important;
  margin-right: 2rem !important;
}

// Delete Data Modal
#deleteModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);

  .delete-modal-wrap {
    margin: 20% auto;
    max-width: 400px;
    padding: 20px;
    border-radius: 5px;
    background: #fff;
    animation-name: modalOpan;
    animation-duration: 1s;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.6);

    .modalFooter {
      display: flex;
      justify-content: flex-end;
    }

    button {
      padding: 0.35rem;
      margin: 10px;
      border-radius: 5px;
      border: none;
      &:hover,
      &:focus {
        background: blue;
        color: #fff;
        outline: none;
      }
    }
  }
}

// User Card Design
#userCard {
  max-width: 90%;
  margin: auto;
  margin-top: 5%;
  background: #fff;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.6);
  transition: all 0.8s ease;
  border-radius: 10px;
  transform: scale(0.95);

  &:hover {
    transform: scale(1);
  }

  .img-wrap {
    border-bottom: 1px solid grey;
    padding: 1rem;
    img {
      border-radius: 50%;
      border: 1px solid grey;
    }
  }

  #userEmail,
  #userPosition,
  #userDob {
    display: flex;
    padding: 5px;

    i {
      font-size: 1.3rem;
      padding: 5px 8px;
      color: rgba(0, 0, 0, 0.75);
    }
  }

  #userName {
    font-size: 1.3rem;
    padding: 0.6rem 0.4rem;
    font-family: nexaBold;
  }
  .cardFooter {
    display: flex;
    justify-content: space-evenly;
    background: $main-color;
    padding-top: 5px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    a {
      transition: all 0.3s ease;
      &:hover {
        transform: scale(1.5);
      }
    }
  }
}

footer {
  text-align: center;
  margin-top: 1rem;
}

// Import Media Queries
@import "media";

@keyframes modalOpan {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
