@font-face {
  font-family: nexaBold;
  src: url("../fonts/NexaBold.otf"); }

@font-face {
  font-family: nexaLight;
  src: url("../fonts/NexaLight.otf"); }

@font-face {
  font-family: nexaBook;
  src: url("../fonts/NexaBook.otf"); }

@font-face {
  font-family: nexaRegular;
  src: url("../fonts/NexaRegular.otf"); }

.container {
  max-width: 1000px;
  padding: 0 1.5rem;
  margin: auto; }

.btn {
  display: inline-block;
  border-radius: 25px;
  cursor: pointer;
  padding: 0.5rem 2rem;
  border: none;
  transition: all 0.3s ease;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); }
  .btn:hover, .btn:focus {
    transform: scale(1.1);
    outline: none; }
  .btn-main {
    background: #b69de6;
    color: #fff; }
  .btn-secondary {
    color: #fff;
    background: #6200ee; }
  .btn-footer {
    margin-left: 1rem; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: nexaRegular;
  line-height: 1.8; }

.img-form {
  display: flex;
  justify-content: center;
  max-height: 700px; }

.page-image {
  background: url("../img/login-canvas2.JPG") no-repeat center/cover;
  height: 580px;
  width: 300px; }

a {
  text-decoration: none;
  color: #fff; }

.form-wrap {
  padding: 5px 20px;
  color: #333;
  max-width: 650px; }
  .form-wrap h1 {
    margin-left: 1rem;
    font-size: 2.5rem;
    font-family: nexaBold; }
    .form-wrap h1 span {
      color: #ccc; }
  .form-wrap p {
    margin-left: 1rem;
    max-width: 200px;
    font-family: nexaLight; }

.input-icon {
  display: flex;
  flex-direction: row;
  padding: 1rem; }
  .input-icon i {
    font-size: 1.7rem;
    color: #b69de6;
    padding-top: 5px; }
  .input-icon .text-input {
    display: flex;
    flex-direction: column;
    margin-left: 1rem; }
    .input-icon .text-input label {
      display: block;
      font-size: 0.75rem; }
    .input-icon .text-input input {
      border: none;
      border-color: transparent;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      height: 1.5rem; }
      .input-icon .text-input input:focus {
        border-bottom: solid 1px #b69de6;
        outline: none; }

#btn-login,
#btn-signup {
  float: right;
  margin-right: 15px; }

.input-icon select {
  background-color: #bb7cff;
  color: white;
  padding: 8px;
  width: 180px;
  border: none;
  font-size: 18px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  outline: none;
  border-radius: 5px; }

#editModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.3); }
  #editModal .modal-form-wrap {
    margin: 30px auto;
    max-width: 600px;
    padding: 20px;
    background: #fff;
    animation-name: modalOpan;
    animation-duration: 1s;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.6); }
    #editModal .modal-form-wrap .modal-form-header {
      border-bottom: 1px solid grey;
      padding-bottom: 15px; }
      #editModal .modal-form-wrap .modal-form-header .closeFormBtn {
        color: #ccc;
        float: right;
        font-size: 30px; }
        #editModal .modal-form-wrap .modal-form-header .closeFormBtn:hover, #editModal .modal-form-wrap .modal-form-header .closeFormBtn:focus {
          color: #000;
          text-decoration: none;
          cursor: pointer; }
    #editModal .modal-form-wrap #form-modal {
      margin: 15px; }
      #editModal .modal-form-wrap #form-modal label {
        display: block;
        font-size: 1rem; }
      #editModal .modal-form-wrap #form-modal input {
        width: 100%;
        margin-bottom: 10px;
        height: 1.5rem; }
        #editModal .modal-form-wrap #form-modal input:focus {
          outline: none; }
      #editModal .modal-form-wrap #form-modal .modalFooter {
        border-top: 1px solid grey;
        padding-top: 5px;
        margin-top: 15px;
        display: flex;
        justify-content: flex-end; }
        #editModal .modal-form-wrap #form-modal .modalFooter button {
          padding: 0.35rem;
          margin: 10px;
          border-radius: 5px;
          border: none; }
          #editModal .modal-form-wrap #form-modal .modalFooter button:hover, #editModal .modal-form-wrap #form-modal .modalFooter button:focus {
            background: #0336ff;
            color: #fff;
            outline: none; }

label[for="modalPosition"] {
  display: inline !important;
  margin-right: 2rem !important; }

#deleteModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); }
  #deleteModal .delete-modal-wrap {
    margin: 20% auto;
    max-width: 400px;
    padding: 20px;
    border-radius: 5px;
    background: #fff;
    animation-name: modalOpan;
    animation-duration: 1s;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.6); }
    #deleteModal .delete-modal-wrap .modalFooter {
      display: flex;
      justify-content: flex-end; }
    #deleteModal .delete-modal-wrap button {
      padding: 0.35rem;
      margin: 10px;
      border-radius: 5px;
      border: none; }
      #deleteModal .delete-modal-wrap button:hover, #deleteModal .delete-modal-wrap button:focus {
        background: blue;
        color: #fff;
        outline: none; }

#userCard {
  max-width: 90%;
  margin: auto;
  margin-top: 5%;
  background: #fff;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.6);
  transition: all 0.8s ease;
  border-radius: 10px;
  transform: scale(0.95); }
  #userCard:hover {
    transform: scale(1); }
  #userCard .img-wrap {
    border-bottom: 1px solid grey;
    padding: 1rem; }
    #userCard .img-wrap img {
      border-radius: 50%;
      border: 1px solid grey; }
  #userCard #userEmail,
  #userCard #userPosition,
  #userCard #userDob {
    display: flex;
    padding: 5px; }
    #userCard #userEmail i,
    #userCard #userPosition i,
    #userCard #userDob i {
      font-size: 1.3rem;
      padding: 5px 8px;
      color: rgba(0, 0, 0, 0.75); }
  #userCard #userName {
    font-size: 1.3rem;
    padding: 0.6rem 0.4rem;
    font-family: nexaBold; }
  #userCard .cardFooter {
    display: flex;
    justify-content: space-evenly;
    background: #b69de6;
    padding-top: 5px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px; }
    #userCard .cardFooter a {
      transition: all 0.3s ease; }
      #userCard .cardFooter a:hover {
        transform: scale(1.5); }

footer {
  text-align: center;
  margin-top: 1rem; }

@media (max-width: 500px) {
  .page-image {
    display: none; } }

@media (min-width: 700px) {
  .text-input input {
    width: 450px; }
  #userCard {
    margin-top: 1%;
    max-width: 400px; }
    #userCard .img-wrap {
      padding: 2rem; }
      #userCard .img-wrap img {
        border-radius: 50%;
        border: 1px solid grey; } }

@keyframes modalOpan {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
